# School inventory

Inventory report from public schools in Pitsburgh.

Source: [Muchrock](https://www.muckrock.com/foi/pittsburgh-130/pittsburgh-public-schools-25134/), PDF: [Inventory_Report.pdf](Inventory_Report.pdf)

## Step 1

Convert the PDF pages into a dataframe using [Python binding for Tabula](https://github.com/chezou/tabula-py):

In [1]:
import tabula

In [2]:
df = tabula.read_pdf('Inventory_Report.pdf', pages='all')
df.head()

  Maven ID Equipment Type   Make Model Serial Number Tag #
0   234114     ALL_IN_ONE  Apple  2124   W87010KBWH5  none
1   232482       Computer   Dell   n/a          none  none
2   232889       Computer   Dell   n/a          none  none
3   232890       Computer   Dell   n/a          none  none
4   232901       Computer   Dell   n/a          none  none

## Step 2

Playing around with the data â€¦

In [3]:
import glob

In [4]:
# ranking equipment types
df['Equipment Type'].value_counts()

Computer          179
Printer           148
MISC              141
Laptop             65
LCD                58
Networking         30
Monitor            13
Equipment Type     12
Scanner             7
Copier              4
Fax                 4
ALL_IN_ONE          1
Name: Equipment Type, dtype: int64

In [5]:
# ranking brands
df['Make'].value_counts().head(10)

Dell              252
HP                198
RSR                33
3M                 23
Epson              16
Allied Telesyn     14
Make               12
Mario               9
Tandberg            9
Heathkit            8
Name: Make, dtype: int64

In [6]:
# ranking computer/laptop brands
df[df['Equipment Type'].isin(['Computer', 'Laptop'])]['Make'].value_counts()

Dell       187
HP          46
Mario        9
Digital      1
IBM          1
Name: Make, dtype: int64

In [7]:
#ranking computer/laptop models by Dell and HP
df[df['Equipment Type'].isin(['Computer', 'Laptop']) & df['Make'].isin(['Dell', 'HP'])]['Model'].value_counts().head(9)

Optiplex 740      45
Optiplex GX260    37
Optiplex 380      21
n/a               19
OpitPlex 740      16
Latitude E5400    12
Compaq 6515b       9
Optiplex GX270     8
Optiplex 780       8
Name: Model, dtype: int64